
/* LOWER CABINS */
.big_cabin .upper_space{
    width: 250px;
    height: 60px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-right: none;
    padding: 0.5rem;
}

.big_cabin .inner_space{
    width: 250px;
    height: 150px;
    border: 2px solid black;
    border-right: none;
    padding: 0.5rem;
    position: relative;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.inner_open{
    position: absolute;
    top: -17px;
    left: 33%;
    width: 80px;
    height: 20px;
    background-color: white;
}


.inner_label{
    position: absolute;
    top: 40%;
    left: 25%;
    pointer-events: none;
    user-select: none;
}

.seat_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}